


<footer class="bg-gray-800 text-white py-4 mt-auto">
  <div class="container mx-auto px-4 md:px-6 lg:px-8 text-center">
    <div class="flex flex-col md:flex-row justify-between items-center">
      <div class="mb-4 md:mb-0">
        <p class="text-sm md:text-base lg:text-lg">© 2024 Angular-Test. Todos los derechos reservados.</p>
      </div>
      <div class="mb-4 md:mb-0">
        <a href="" class="text-sm md:text-base lg:text-lg hover:underline">Política de Privacidad</a>
        <span class="mx-2">|</span>
        <a href="" class="text-sm md:text-base lg:text-lg hover:underline">Términos de Servicio</a>
      </div>
      <div>
        <p class="text-sm md:text-base lg:text-lg">Síguenos en:</p>
        <div class="flex justify-center space-x-4 mt-2">
          <a href="" class="hover:underline">Facebook</a>
          <a href="" class="hover:underline">Twitter</a>
          <a href="" class="hover:underline">LinkedIn</a>
        </div>
      </div>
    </div>
  </div>
</footer>
